@model GeoProfs.Models.Verlof

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Verlof</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WerknemerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WerknemerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedenVerlof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedenVerlof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
